<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear /> 
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />>
    <add key="scrat" value="http://nuget.scratnet.com/nuget" />
	</packageSources>
	<config>
    <add key="globalPackagesFolder" value="./.nuget/" />
    <add key="repositoryPath" value="./.nuget/" />
		<add key="http_proxy.user" value="" />
    <add key="http_proxy.password" value="" />
	</config>
	
</configuration>
